/tema-1/workspace-practica-3/Ejercicio4v2/nbproject/private/
/tema-1/workspace-practica-3/Ejercicio4v2/build/
/tema-1/workspace-practica-3/Ejercicio5/nbproject/private/
/tema-1/workspace-practica-3/Ejercicio5/build/
/tema-1/workspace-practica-3/Ejercicio6/nbproject/private/
/tema-1/workspace-practica-3/Ejercicio6/build/
/tema-1/workspace-practica-3/Ejercicio9/nbproject/private/
/tema-1/workspace-practica-3/Ejercicio9/build/
/tema-1/workspace-practica-3/Ejercicio9/dist/
/tema-3-programacion-estructurada/workspace-practica-3/Ejercicio7/nbproject/private/
/tema-3-programacion-estructurada/workspace-practica-3/Ejercicio7/build/
/tema-6-poo/practica-3/validaciones/nbproject/private/
/tema-6-poo/practica-3/validaciones/build/
/tema-6-poo/practica-3/Ejericicio21/nbproject/private/
/tema-6-poo/practica-3/Ejercicio22/nbproject/private/