/tema-1/workspace-practica-3/Ejercicio4v2/nbproject/private/
/tema-1/workspace-practica-3/Ejercicio4v2/build/
/tema-1/workspace-practica-3/Ejercicio5/nbproject/private/
/tema-1/workspace-practica-3/Ejercicio5/build/
/tema-1/workspace-practica-3/Ejercicio6/nbproject/private/
/tema-1/workspace-practica-3/Ejercicio6/build/